<%= form_for [@individual_mf_device], :html => { :role => 'form individual_mf_device' } do |f| %>

  <% input_disabled ||= false  
     #if input_disabled is not passed to the partial it doesn't crash. 
     # We default it to false 
  %>

  <% if @individual_mf_device.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @individual_mf_device.errors.full_messages.each do |msg| %>
          <li><h5><%= msg %></h5></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">

        <div class="form-group col-sm-6">
          <%= f.label :department, class: 'control-label' %>
          <h5><%= @individual_mf_device.department %></h5>
        </div>

        <div class="form-group col-sm-4">
          <%= f.label :number, class: 'control-label' %>
          <h5><%= @individual_mf_device.number %></h5>
        </div>

      </div>  <!-- /row -->
    </div>  <!-- /col-sm-12 -->
  </div>  <!-- /row -->

  <hr>

  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="form-group col-sm-3">
          <%= f.label :valid_to, class: 'control-label' %>
          <h5><%= @individual_mf_device.valid_to %></h5>
        </div>
        <div class="form-group col-sm-3">
          <%= f.label :call_sign, class: 'control-label' %>
          <h5><%= @individual_mf_device.call_sign %></h5>
        </div>
        <div class="form-group col-sm-3">
          <%= f.label :category, class: 'control-label' %>
          <h5><%= @individual_mf_device.category %></h5>
        </div>
        <div class="form-group col-sm-3">
          <%= f.label :transmitter_power, class: 'control-label' %>
          <h5><%= @individual_mf_device.transmitter_power %></h5>
        </div>
      </div>

    </div> <!-- /col-sm-12 -->
  </div> <!-- /row -->


  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="form-group col-sm-3">
          <%= f.label :name_type_station, class: 'control-label' %>
          <h5><%= @individual_mf_device.name_type_station %></h5>
        </div>
        <div class="form-group col-sm-3">
          <%= f.label :emission, class: 'control-label' %>
          <h5><%= @individual_mf_device.emission %></h5>
        </div>
        <div class="form-group col-sm-3">
          <%= f.label :input_frequency, class: 'control-label' %>
          <h5><%= @individual_mf_device.input_frequency %></h5>
        </div>
        <div class="form-group col-sm-3">
          <%= f.label :output_frequency, class: 'control-label' %>
          <h5><%= @individual_mf_device.output_frequency %></h5>
        </div>
      </div>

    </div> <!-- /col-sm-12 -->
  </div> <!-- /row -->


  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="form-group col-sm-3">
          <%= f.label :operator_1, class: 'control-label' %>
          <h5><%= @individual_mf_device.operator_1 %></h5>
        </div>
        <div class="form-group col-sm-3">
          <%= f.label :operator_2, class: 'control-label' %>
          <h5><%= @individual_mf_device.operator_2 %></h5>
        </div>
        <div class="form-group col-sm-3">
          <%= f.label :operator_3, class: 'control-label' %>
          <h5><%= @individual_mf_device.operator_3 %></h5>
        </div>
      </div>

    </div> <!-- /col-sm-12 -->
  </div> <!-- /row -->

  <hr>

  <div class="row color-section-station">
    <div class="form-group col-sm-6">
      <%= f.label :station_location, class: 'control-label' %>
      <h5><%= @individual_mf_device.station_location %></h5>
    </div>
  </div> <!-- /row -->


  <hr>


  <% if input_disabled %>
    <!-- for "Show" -->
    <%= link_to t('Index', default: t("helpers.links.index")), individual_mf_devices_path, :class => 'btn btn-default glyphicon glyphicon-th-list' %>

    <% if user_signed_in? %>
      <% if policy(@individual_mf_device).destroy? %>

        <%= link_to t('Delete', default: t("helpers.links.destroy")), individual_mf_device_path(@individual_mf_device),
                          method: :delete,
                          data: { confirm: t('helpers.links.confirm_destroy', data: @individual_mf_device.fullname) },
                          :class => "btn btn-danger glyphicon glyphicon-trash" %>
      <% end %>

      <% if policy(@individual_mf_device).edit? %>
        <%= link_to t('Edit', default: t("helpers.links.edit")), edit_individual_mf_device_path(@individual_mf_device), 
                          :class => "btn btn-primary glyphicon glyphicon-edit" %>  
      <% end %>
    <% end %>
  <% else %>
    <!-- form "New"/"Edit" -->
    <%= link_to t('Index', default: t("helpers.links.index")), individual_mf_devices_path, :class => 'btn btn-default glyphicon glyphicon-th-list' %>
    <%= link_to t('Back', default: t("helpers.links.back")), :back, :class => 'btn btn-default' %>
    <% if user_signed_in? %>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    <% end %>
  <% end %>
  
<% end %>
