<h3><span class="glyphicon glyphicon-modal-window" aria-hidden="true"> 
  <%= t(' Individuals', default: t("pages.individual_mf_devices.index.title")) %>  
  </span>
</h3>

<div class="col-sm-12">
  <% if I18n.locale == :pl %>
  <table id="individual_mf_devices" class="hover cell-border" width="100%" data-source="<%= datatables_index_individual_mf_devices_path(format: :json) %>">
  <% else %>
  <table id="individual_mf_devices_en" class="hover cell-border" width="100%" data-source="<%= datatables_index_individual_mf_devices_path(format: :json) %>">
  <% end %>
    <thead>
      <tr>
        <th> 0 id</th>
        <th> 1 Number</th>
        <th> 2 Valid to</th>
        <th> 3 Call sign</th>
        <th> 4 Category</th>
        <th> 5 Transmitter power</th>
        <th> 6 Name of station type</th>
        <th> 7 Emission</th>
        <th> 8 Input frequency</th>
        <th> 9 Output frequency</th>
        <th>10 Station</th>
      </tr>
    </thead>

    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->


<div class="col-sm-12">

  <%= link_to t('download', default: t("helpers.links.download")), export_individual_mf_devices_path( :format => "csv" ), 
                            :class => 'btn btn-primary glyphicon glyphicon-download' %>

  <% if user_signed_in? %>
    <% if policy(IndividualMfDevice).new? %>
      <%= link_to t('New', default: t("helpers.links.new")), new_individual_mf_device_path, 
                        :class => 'btn btn-primary glyphicon glyphicon-plus' %> 
    <% end %>
  <% end %>

</div> <!--/col-sm-12 -->

