
<div class="row">
  <div class="col-md-12">

		<div class="page-header">
		  <h1><%= t('pages.visitors.index.title') %> <small><%= t('pages.visitors.index.title_sub') %></small></h1>
		</div>

	</div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6 clearfix">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= t('pages.visitors.index.sub_individuals') %></h4>
            <p><%= t('pages.visitors.index.sub_individuals_text') %></p>

            <%= link_to individuals_path do %>
              <span class="btn btn-primary glyphicon glyphicon-user"> <%=t "link_to.individuals" %></span>
            <% end %>

          </div>
        </div>
      </div>

      <div class="col-md-6 clearfix">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= t('pages.visitors.index.sub_clubs') %></h4>
            <p><%= t('pages.visitors.index.sub_clubs_text') %></p>

            <%= link_to clubs_path do %>
              <span class="btn btn-primary glyphicon glyphicon-home"> <%=t "link_to.clubs" %></span>
            <% end %>

          </div>
        </div>
      </div>
    </div> <!-- /<div class="row"> -->

    <div class="row">
      <div class="col-md-6 clearfix">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= t('pages.visitors.index.sub_mfree_individuals') %></h4>
            <p><%= t('pages.visitors.index.sub_mfree_individuals_text') %></p>

            <%= link_to individual_mf_devices_path do %>
              <span class="btn btn-primary glyphicon glyphicon-modal-window"> <%=t "link_to.individual_mf_devices" %></span>
            <% end %>

          </div>
        </div>
      </div>

      <div class="col-md-6 clearfix">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= t('pages.visitors.index.sub_mfree_clubs') %></h4>
            <p><%= t('pages.visitors.index.sub_mfree_clubs_text') %></p>

            <%= link_to club_mf_devices_path do %>
              <span class="btn btn-primary glyphicon glyphicon-scale"> <%=t "link_to.club_mf_devices" %></span>
            <% end %>

          </div>
        </div>
      </div>
    </div> <!-- /<div class="row"> -->
  </div> <!-- /<div class="col-md-6"> -->
  <div class="col-md-6">
    <div id="map" style="width: 550px; height: 325px;"></div>

    <script>
      $(document).ready(function(){
        gmap_uke_show()
      });
    </script>

  
  </div> <!-- /<div class="col-md-6"> -->

</div>