<%# add navigation links to this file %>
<li><%= link_to individuals_path do %>
	<span class="glyphicon glyphicon-user"></span>&nbsp;<%=t "link_to.individuals" %>
  <% end %>
</li>
<li><%= link_to clubs_path do %>
	<span class="glyphicon glyphicon-home"></span>&nbsp;<%=t "link_to.clubs" %>
  <% end %>
</li>
<li><%= link_to individual_mf_devices_path do %>
	<span class="glyphicon glyphicon-scale"></span>&nbsp;<%=t "link_to.individual_mf_devices" %>
  <% end %>
</li>
<li><%= link_to club_mf_devices_path do %>
	<span class="glyphicon glyphicon-scale"></span>&nbsp;<%=t "link_to.club_mf_devices" %>
  <% end %>
</li>
